/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    /*font-size: 1em;*/
    /*line-height: 1.4;*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*my style*/
@font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot');

    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff2') format('woff2'),
    url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff') format('woff'),
    url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.ttf') format('truetype');
    /*url('../webfonts/vazir-number/UI/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL-UI.eot');*/
    /*url('../webfonts/vazir-number/UI/Farsi-Digits/Vazir-Black-FD-UI.ttf') format('truetype'),*/
    /*url('../webfonts/vazir-number/UI/Farsi-Digits/Vazir-Black-FD-UI.woff') format('woff'),*/
    /*url('../webfonts/vazir-number/UI/Farsi-Digits/Vazir-Black-FD-UI.woff2') format('woff2');*/
    font-weight: normal;
    /*font-style: normal;*/
}

/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
    height: 100%;
    font-family: Vazir !important;
}

.txtsizeem {
    font-size: 2rem !important;
}


.drrtl {
    direction: rtl !important;
}

.txtright {
    text-align: right !important;
}

.fltright {
    float: right !important;
}

body, p {
    color: #626262;
    font: 400 0.875rem/1.375rem Vazir;
}

.p-large {
    font: 400 1rem/1.5rem Vazir;
}

.p-small {
    font: 400 0.75rem/1.25rem Vazir
}

.p-heading {
    margin-bottom: 3.875rem;
}

.li-space-lg li {
    margin-bottom: 0.25rem;
}

.indent {
    padding-left: 1.25rem;
}

h1 {
    color: #393939;
    font: 700 3rem/3.5rem Vazir;
}

h2 {
    color: #393939;
    font: 700 2.25rem/2.75rem Vazir;
}

h3 {
    color: #393939;
    font: 700 1.75rem/2rem Vazir;
}

h4 {
    color: #393939;
    font: 700 1.375rem/1.875rem Vazir;
}

h5 {
    color: #393939;
    font: 700 1.125rem/1.625rem Vazir;
}

h6 {
    color: #393939;
    font: 700 1rem/1.5rem Vazir;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: #626262;
    text-decoration: underline;
}

a.turquoise {
    color: #00bfd8;
}

a.white {
    color: #fff;
}

.testimonial-text {
    font: italic 400 1rem/1.5rem Vazir;
}

.testimonial-author {
    font: 700 1rem/1.5rem Vazir;
}

.turquoise {
    color: #00bfd8;
}

.btn-solid-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: #00bfd8;
    color: #fff;
    font: 700 0.75rem/0 Vazir;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-reg:hover {
    background-color: transparent;
    color: #00bfd8;
    text-decoration: none;
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: #00bfd8;
    color: #fff;
    font: 700 0.75rem/0 Vazir;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-solid-lg:hover {
    background-color: transparent;
    color: #00bfd8;
    text-decoration: none;
}

.btn-outline-reg {
    display: inline-block;
    padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: transparent;
    color: #00bfd8;
    font: 700 0.75rem/0 Vazir;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-reg:hover {
    background-color: #00bfd8;
    color: #fff;
    text-decoration: none;
}

.btn-outline-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: transparent;
    color: #00bfd8;
    font: 700 0.75rem/0 Vazir;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-lg:hover {
    background-color: #00bfd8;
    color: #fff;
    text-decoration: none;
}

.btn-outline-sm {
    display: inline-block;
    padding: 1rem 1.625rem 0.875rem 1.625rem;
    border: 0.125rem solid #00bfd8;
    border-radius: 2rem;
    background-color: transparent;
    color: #00bfd8;
    font: 700 0.625rem/0 Vazir;
    text-decoration: none;
    transition: all 0.2s;
}

.btn-outline-sm:hover {
    background-color: #00bfd8;
    color: #fff;
    text-decoration: none;
}

.form-group {
    position: relative;
    margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
    margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
    margin-top: 0.375rem;
}

.label-control {
    position: absolute;
    top: 0.87rem;
    right: 1.375rem;
    color: #626262;
    opacity: 1;
    font: 400 0.875rem/1.375rem Vazir;
    cursor: text;
    transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .label-control {
        top: 0.9375rem;
    }
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
    top: 0.125rem;
    opacity: 1;
    font-size: 0.75rem;
    font-weight: 700;
}

.form-control-input,
.form-control-select {
    display: block; /* needed for proper display of the label in Firefox, IE, Edge */
    width: 100%;
    padding-top: 1.0625rem;
    padding-bottom: 0.0625rem;
    padding-left: 1.3125rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #626262;
    font: 400 0.875rem/1.875rem Vazir;
    transition: all 0.2s;
    -webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .form-control-input {
        padding-top: 1.25rem;
        padding-bottom: 0.75rem;
        line-height: 1.75rem;
    }

    .form-control-select {
        padding-top: 0.875rem;
        padding-bottom: 0.75rem;
        height: 3.125rem;
        line-height: 2.125rem;
    }
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
    display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
    width: 100%;
    height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
    padding-top: 1.25rem;
    padding-left: 1.3125rem;
    border: 1px solid #c4d8dc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #626262;
    font: 400 0.875rem/1.75rem Vazir;
    transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
    border: 1px solid #a1a1a1;
    outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
    border: 1px solid #a1a1a1;
}

.checkbox {
    font: 400 0.75rem/1.25rem Vazir;
}

input[type='checkbox'] {
    vertical-align: -15%;
    margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    input[type='checkbox'] {
        vertical-align: -9%;
    }
}

.form-control-submit-button {
    display: inline-block;
    width: 100%;
    height: 3.125rem;
    border: 1px solid #00bfd8;
    border-radius: 1.5rem;
    background-color: #00bfd8;
    color: #fff;
    font: 700 0.75rem/1.75rem Vazir;
    cursor: pointer;
    transition: all 0.2s;
}

.form-control-submit-button:hover {
    background-color: transparent;
    color: #00bfd8;
}

/* Form Success And Error Message Formatting */
#rmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#rmsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
    display: block;
    margin-bottom: 0;
    color: #626262;
    font: 400 1.125rem/1rem Vazir;
}

.help-block.with-errors .list-unstyled {
    color: #626262;
    font-size: 0.75rem;
    line-height: 1.125rem;
    text-align: left;
}

.help-block.with-errors ul {
    margin-bottom: 0;
}

/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
    -ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
    transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective(37.5rem) rotateX(0);
    -ms-transform: translateY(0) perspective(37.5rem) rotateX(0);
    transform: translateY(0) perspective(37.5rem) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
    -ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
    transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation: fadeOut 0.8s;
    animation: fadeOut 0.8s;
}

/* end of fade animation for image slider - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.spinner {
    position: absolute;
    top: 50%; /* centers the loading animation vertically one the screen */
    left: 50%; /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
    text-align: center;
}

.spinner > div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #7c16a1;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
    background-color: #fff;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
    font: 600 0.875rem/0.875rem Vazir;
    transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image {
    z-index: 99999;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 110px;
    /*height: 3rem;*/
}

.navbar-custom .navbar-brand.logo-text {
    font: 600 2rem/1.5rem Vazir;
    color: #393939;
    text-decoration: none;
}

.navbar-custom .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.nav-item {
    padding: 5px 0;
    /*background-color: rgba(0,0,0,0.3);border-radius: 20px;*/
    margin-left: 5px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 20px;
}

.navbar-custom .nav-item .nav-link {
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
    color: #393939;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
    color: #00bfd8;
}

li.register {
    background-color: #000000 !important;
    padding: 5px 5px;
    border-radius: 20px;
}

li.register a {
    color: whitesmoke !important;
}

/* Dropdown Menu */
#closeNav svg {
    transform: rotateY(180deg);
}

.drop-menu {
    background-color: #d0d0d0 !important;
    height: 270px !important;
    padding: 15px 0 !important;
}

#toggleNav {
    top: 0;
    background: #efefef;
    z-index: 9999;
    width: 70%;
    position: fixed;
    height: 100%;
    transition: 0.3s;
}

#toggleNav > div {
    overflow: auto;
    height: 100%;
}

#toggleNav ul {
    width: 88%;
    padding: 0;
}

.dropdown-toggle:focus, .dropdown-toggle:active {
    color: #00bfd8 !important;
}

#toggleNav ul .nav-item {
    background-color: initial;
}

li.dropdown .dropdown-item {
    margin-bottom: 10px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-right: 0.255em;
    margin-left: 0;
    vertical-align: 0;
}

li.dropdown div.dropdown-menu {
    left: auto;
    box-shadow: 2px 2px 10px #bbb !important;
}

li.dropdown a.dropdown-item:hover {
    color: #00bfd8;
}

.navbar-custom .dropdown:hover > .dropdown-menu {
    display: block; /* this makes the dropdown menu stay open while hovering it */
    min-width: auto;
    animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
    outline: 0;
}

.navbar-custom .dropdown-menu {
    margin-top: 0;
    border: none;
    border-radius: 0.25rem;
    background-color: #fff;
}

.navbar-custom .dropdown-item {
    color: #393939;
    text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
    background-color: transparent;
}

.navbar-custom .dropdown-item .item-text {
    font: 600 0.875rem/0.875rem Vazir;
}

.navbar-custom .dropdown-item:hover .item-text {
    color: #00bfd8;
}

.navbar-custom .dropdown-items-divide-hr {
    width: 100%;
    height: 1px;
    margin: 0.75rem auto 0.725rem auto;
    border: none;
    background-color: #c4d8dc;
    opacity: 0.2;
}

/* end of dropdown menu */

.navbar-custom .social-icons {
    display: none;
    background-color: transparent;
}

.navbar-custom .navbar-toggler {
    border: none;
    color: #393939;
    font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times {
    display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars {
    display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars {
    display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times {
    display: inline-block;
    margin-right: 0.125rem;
}


/*********************/
/*    04. Header     */
/*********************/
.header {
    background: url('../images/Background.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    /*max-height: 800px;*/
}

.header img {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
}

.header .header-content {
    /*padding-top: 8rem;*/
    /*padding-bottom: 4rem;*/
    text-align: center;
    width: 100%;
    position: absolute;
    padding: 0;
}

.header .text-container {
    margin-bottom: 4rem;
}

.header h1 {
    line-height: 3.125rem;
    /*margin-top: 200px;*/
    margin-bottom: 0 !important;
    word-spacing: -7px;
    font-size: 35px;
    /*text-shadow: 0 0 4px #1f1f1f, 0 0 5px #d428ff;*/
}

.header .p-large {
    margin-bottom: 1.875rem;
}

.header h5 {
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
    text-shadow: 0 0 4px #105b65 !important;
    font-weight: normal;
}

.btn-registers {
    text-align: center;
}

.btn-register {
    cursor: pointer;
    /*font-weight: bold;*/
    text-align: center;
    font-size: 17px;
    width: 250px;
    display: inline-block;
    /*padding: 15px 70px;*/
    border: 2px solid white;
    border-radius: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn-register a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 16px;
}

.glow-on-hover {
    width: 250px;
    height: 55px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 85px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #4d2d5e, #42006a, #7a00ff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 40px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/************************/
/*   06. Saham Edalat   */
/************************/
#SahamEdalat {
    width: 100%;
    margin: 0 auto;
    padding: 25px;
}

.header_saham p {
    font-size: 16px;
    /*font-weight: bold;*/
}

.box_saham {
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    box-shadow: 1px 1px 24px 0 #e0e0e0;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    max-width: 300px;
    padding: 100px 45px 45px 45px;
    border-radius: 10px;
    word-spacing: -1px;
    background-color: white;
}

.box_saham p {
    margin-bottom: 90px;
}

.tag_saham {
    position: absolute;
    background-color: #18cf99;
    color: white;
    padding: 11px 25px;
    width: 176px;
    text-align: center;
    border-radius: 0 13px 13px 0;
    top: 25px;
    left: -15px;
    font-size: 16px;
    box-shadow: 3px 2px 7px #948e8e;
}

.rect_tag {
    width: 0;
    height: 0;
    border-top: 15px solid #18cf99;
    border-left: 15px solid transparent;
    position: absolute;
    left: -15px;
    top: 69px;
}

.btn_saham {
    text-align: center;
    background-color: #35115b;
    border-radius: 29px;
    width: 193px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -95px;
}

.btn_saham a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 12px;
}

.btn_saham:hover {
    opacity: 0.8;
}

/************************/
/*     06. Services     */
/************************/
#services {
    height: 100%;
    min-height: 800px;
    background-color: #fdfdfd;
}

.wrapper-services {
    position: absolute;
    top: 50%;
    margin-top: -372px;
    width: 100%;
    height: 100%;
    /*margin: -202px auto 0 auto;*/
}

.spsTitle {
    word-spacing: -7px;
    font-size: 44px;
}

.Container {
    margin: 10px auto;
    max-width: 350px;
    min-height: 320px;
}

.Container > div {
    margin-bottom: 20px;
}

.Card {
    box-sizing: border-box;
    transition: box-shadow 0.3s;
    box-shadow: 1px 1px 24px 0 #e0e0e0;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    border-radius: 30px;
    word-spacing: -1px;
    background-color: #fff;
}

.Container .Card > img, .Card > i {
    font-size: 50px;
    /*border-radius: 50%;*/
    margin: 24px auto;
    box-sizing: border-box;
    position: relative;
    width: 50px;
    height: 50px;
}

.Container:nth-child(4) .Card h3, .Container:nth-child(5) .Card h3, .Container:nth-child(6) .Card h3 {
    font-size: 23px;
}

.cards-1 {
    padding-top: 60px;
    padding-bottom: 1.625rem;
    text-align: center;
}

.cards-1 h2 {
    margin-bottom: 1rem;
}

/*************************/
/*   registrationGuide   */
/*************************/
#registrationGuide {
    height: 100%;
    min-height: 570px;
    position: relative;
}

#registrationGuide h5 {
    position: absolute;
    top: 87%;
    left: 50%;
    margin-left: -265px;
}

#registrationGuide + h5.tow {
    display: none;
}

#registrationGuide > p {
    position: absolute;
    left: 50px;
    top: 35px;
    z-index: 1;
    font-size: 16px;
}

#registrationGuide > p span {
    font-size: 19px;
}

.guide-left {
    top: 50%;
    position: absolute;
    right: 50%;
    margin-top: -300px;
    height: fit-content !important;
    width: 50%;
    overflow: hidden;
}

.guide-left h3 {
    display: none;
    word-spacing: -8px;
    text-align: right;
    margin-top: 30px;
}

.guide-right .container-img-right {
    height: 100%;
    text-align: center;
    width: 100%;
    max-width: 700px;
    max-height: 1080px;
    margin: 0 auto 0 25px;
    position: relative;
}

.container-img-right img {
    width: 100%;
    height: 100%;
}

.guide-right div.wow {
    position: absolute;
    top: 46%;
    z-index: 1;
    left: -150px;
}

.guide-right h3 {
    transform: rotate(-90deg);
    /*position: absolute;*/
    /*left: -100px;*/
    height: 0;
    word-spacing: -8px;
}

.sejam {
    text-align: right;
    position: relative;
    margin-right: 50px;
    margin-bottom: 80px;
}

.step-sejam::before {
    content: "";
    padding: 30px 0;
    border-left: 2px dotted #aaa;
    position: absolute;
    right: -50px;
    top: 4px;
}

.sejam.mr-5 div.step-sejam {
    margin-right: 170px;
}

.step-sejam {
    width: 214px;
    direction: rtl;
    text-align: justify;
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.step-sejam h4::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border: 6px solid blueviolet;
    position: absolute;
    border-radius: 14px;
    padding: 4px 4px;
    right: -33px;
    top: 4px;
}

.step-sejam h4 {
    word-spacing: -6px;
    position: relative;
    display: inline-block;
}

.step-sejam .guide-icon {
    width: 24px;
    margin-right: 3px;
    opacity: 0.7;
}

.step-sejam h4 i {
    position: absolute;
    top: 10px;
    left: -18px;
    font-size: 15px;
}

.step-sejam p {
    word-spacing: -3.5px;
}

.step-sejam p span {
    font-size: 21px;
    position: absolute;
    left: 108%;
    font-weight: bold;
}

/* Back Button */
#Class {
    height: fit-content !important;
    top: 50%;
    margin-top: -240px;
    padding: 15px;
    text-align: center;
}

.mfp-content {
    width: auto !important;
}

.lightbox-basic {
    margin: 2.5rem auto;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 0.25rem;
    background: #fff;
    text-align: left;
}

.lightbox-basic .container {
    padding-right: 0;
    padding-left: 0;
}

.lightbox-basic .image-container {
    max-width: 33.75rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
}

.lightbox-basic h3 {
    margin-bottom: 0.5rem;
}

.lightbox-basic hr {
    width: 2.5rem;
    height: 0.125rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
    margin-left: 0;
    border: 0;
    background-color: #00bfd8;
    text-align: left;
}

.lightbox-basic a.mfp-close.as-button {
    position: relative;
    width: auto;
    height: auto;
    margin-left: 0.375rem;
    color: #00bfd8;
    opacity: 1;
}

.lightbox-basic a.mfp-close.as-button:hover {
    color: #fff;
}

/* end of back button */

.lightbox-basic button.mfp-close.x-button {
    position: absolute;
    top: -0.125rem;
    right: -0.125rem;
    width: 2.75rem;
    height: 2.75rem;
    color: #707984;
}

/***********************/
/*     15. Contact     */
/***********************/
#contact {
    height: 100%;
    /*max-height: 800px;*/
    min-height: 570px;
    position: relative;
    overflow: hidden;
}

.contact-right {
    background: url('../images/Map.png') center center no-repeat;
    background-size: cover;
    height: 100%;
}

.contact-left {
    word-spacing: -2px;
    padding-right: 70px;
    top: 50%;
    margin-top: -72px;

}

.wrapper-social-contact {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -100px;
    z-index: 1;
}

.social-contact {
    box-shadow: -2px 3px 12px 9px #eee;
    padding: 20px;
    left: 46%;
    background-color: white;
    border-radius: 11px;
    z-index: 1;
    width: 84px;
    margin: 0 auto;
}

.social-contact div {
    margin: 10px 6px;
}

.social-contact i {
    color: black;
    font-size: 35px;
}

.social-contact div {
    display: block;
}

.social-contact div:hover img {
    color: blueviolet;
    animation: swing;
    animation-duration: 1s;
}

.guide-icon {
    display: none !important;
    position: absolute;
    width: max-content;
    left: 45px;
    background-color: white;
    height: 100%;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #aaa;
    top: -8px;
}

.guide-icon:before {
    content: "";
    position: absolute;
    width: 0;
    left: -11px;
    z-index: -1;
    top: 9px;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 12px solid #b1b1b1;
    border-bottom: 7px solid transparent;
}

.contact-left h3 {
    font-size: 40px;
}

.information-contact {
    background-color: white;
    width: 290px;
    text-align: center;
    border-radius: 24px;
    padding: 40px 0;
    margin-top: 110px;
}

.icon-location {
    border-radius: 24px 24px 0 0;
    padding: 0 0 35px 0;
}

.body-information p.dash {
    padding: 10px 0;
    font-size: 30px;
}

/**********************/
/*     16. Footer     */
/**********************/
footer {
    background-color: #310745;
    padding: 60px 0;
}

footer > div {
    max-width: 1450px;
    margin: 0 auto !important;
}

.wrapper-col-footer > * {
    color: #A0A3BD;
    display: block;
}

.wrapper-col-footer h4 {
    color: #D9DBE9;
}

.wrapper-col-footer p {
    text-align: justify;
}

.wrapper-col-footer p i {
    margin-left: 10px;
}

.wrapper-col-footer p a {
    text-decoration: none;
}

.whatsapp {
    background: rgba(217, 219, 233, 0.1);
    width: 270px;
    height: 55px;
    position: relative;
    text-align: center;
}

.whatsapp:hover {
    background: rgba(217, 219, 233, 0.2);
}

.whatsapp a {
    line-height: 55px;
    color: #D9DBE9;
}

.whatsapp img {
    filter: invert(1);
    margin-left: 8px;
    width: 25px;
}


/*************************/
/*     17. Copyright     */
/*************************/
.footer-copyright {
    background-color: #310745;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #6E7191;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    direction: rtl;
}

/**********************************/
/*     18. Back To Top Button     */
/**********************************/
a.back-to-top {
    position: fixed;
    z-index: 999;
    right: 1.3rem;
    bottom: 1.75rem;
    display: none;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background: #790bbd url("../images/up-arrow.png") no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
}

a:hover.back-to-top {
    background-color: #ae01cd;
}

/***************************/
/*     19. Extra Pages     */
/***************************/
.ex-header {
    padding-top: 8rem;
    padding-bottom: 5rem;
    text-align: center;
}

.ex-basic-1 {
    padding-top: 2rem;
    padding-bottom: 0.875rem;
    background-color: #f7fcfd;
}

.ex-basic-1 .breadcrumbs {
    margin-bottom: 1.125rem;
}

.ex-basic-1 .breadcrumbs .fa {
    margin-right: 0.5rem;
    margin-left: 0.625rem;
}

.ex-basic-2 {
    padding-top: 4.75rem;
    padding-bottom: 4rem;
}

.ex-basic-2 h3 {
    margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
    margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
    margin-bottom: 0;
}

.ex-basic-2 .list-unstyled .fas {
    color: #00bfd8;
    font-size: 0.5rem;
    line-height: 1.375rem;
}

.ex-basic-2 .list-unstyled .media-body {
    margin-left: 0.625rem;
}

.ex-basic-2 .btn-outline-reg {
    margin-top: 1.75rem;
}

.ex-basic-2 .image-container-large {
    margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
    border-radius: 0.25rem;
}

.ex-basic-2 .image-container-small img {
    border-radius: 0.25rem;
}

.ex-basic-2 .text-container.dark-bg {
    padding: 1.625rem 1.5rem 0.75rem 2rem;
    background-color: #f9fafc;
}


/*****************************/
/*     20. Media Queries     */
/*****************************/

/* Min-width width 992px */
@media (min-width: 992px) {

    /* Navigation */
    .navbar-custom {
        padding: 2.125rem 1.5rem 2.125rem 2rem;
        box-shadow: none;
        background: transparent;
    }

    .navbar-custom .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 10px;
    }

    .navbar-custom .nav-item .nav-link {
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        color: #fff;
        /*opacity: 0.8;*/
    }

    .navbar-custom .nav-item .nav-link:hover,
    .navbar-custom .nav-item .nav-link.active {
        color: #fff;
        /*text-shadow: 0px 0px 8px blueviolet;*/
        opacity: 0.7;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
        box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .navbar-custom.top-nav-collapse .nav-item {
        background: none;
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link {
        color: #393939;
        opacity: 1;
        background: none;
    }

    .navbar-custom.top-nav-collapse li.register {
        /*background-color: #1b9af7;*/
        background-color: #4a1a4a;
    }

    .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
    .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
        color: #00bfd8;
        /*color: blueviolet;*/
    }

    .navbar-custom .dropdown-menu {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 0.75rem solid rgba(0, 0, 0, 0);
        border-radius: 0.25rem;
    }

    .navbar-custom.top-nav-collapse .dropdown-menu {
        border-top: 0.5rem solid rgba(0, 0, 0, 0);
        box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
    }

    .navbar-custom .dropdown-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .navbar-custom .dropdown-items-divide-hr {
        width: 84%;
    }

    .navbar-custom .social-icons {
        display: block;
        margin-left: 0.5rem;
    }

    .navbar-custom .fa-stack {
        margin-bottom: 0.1875rem;
        margin-left: 0.25rem;
        font-size: 0.75rem;
    }

    .navbar-custom .fa-stack-2x {
        /*color: blueviolet;*/
        transition: all 0.2s ease;
    }

    .navbar-custom .fa-stack-1x {
        color: #fff;
        transition: all 0.2s ease;
    }

    .navbar-custom .fa-stack:hover .fa-stack-2x {
        color: #fff;
        animation: swing;
        animation-duration: 1s;
    }

    .navbar-custom .fa-stack:hover .fa-stack-1x {
        color: blueviolet;
        animation: swing;
        animation-duration: 1s;
    }

    .navbar-custom.top-nav-collapse .fa-stack-2x {
        color: blueviolet;
    }

    .navbar-custom.top-nav-collapse .fa-stack-1x {
        color: #fff;
    }

    .navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-2x {
        color: #00a7bd;
    }

    .navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-1x {
        color: #fff;
    }

    /* end of navigation */
    /* General Styles */
    .p-heading {
        width: 65%;
    }

    /* end of general styles */
    /* Header */
    /*.header .header-content {*/
    /*    padding-top: 11.5rem;*/
    /*    text-align: left;*/
    /*}*/
    /*.header .text-container {*/
    /*    margin-top: 3rem;*/
    /*    margin-bottom: 0;*/
    /*}*/
    /* end of header */
    /* Services */
    .cards-1 .card {
        display: inline-block;
        max-width: 17.125rem;
        vertical-align: top;
    }

    .cards-1 .col-lg-12 div.card:nth-child(3n+2) {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    /* end of services */
    /* Details 1 */
    .basic-1 .text-container {
        margin-top: 3.875rem;
        margin-bottom: 0;
    }

    /* end of details 1 */
    /* Details 2 */
    .basic-2 .image-container {
        margin-bottom: 0;
    }

    .basic-2 .text-container {
        margin-top: 3.125rem;
    }

    /* end of details 2 */
    /* Details Lightboxes */
    .lightbox-basic {
        max-width: 62.5rem;
        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    }

    .lightbox-basic .image-container {
        max-width: 100%;
        margin-right: 2rem;
        margin-bottom: 0;
        margin-left: 0.5rem;
    }

    .lightbox-basic h3 {
        margin-top: 0.5rem;
    }

    /* end of details lightboxes */
    /* Pricing */
    .cards-2 .card {
        display: inline-block;
        width: 17.125rem;
        max-width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;

    }

    /* end of pricing */
    /* Request */
    .form-1 {
        padding-top: 7.5rem;
    }

    .form-1 .text-container {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    /* end of request */
    /* Video */
    .basic-3 .image-container {
        max-width: 53.125rem;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of extra pages */
}

/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {

    /* Navigation */
    .navbar-custom {
        padding: 2.125rem 5rem 2.125rem 5rem;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
    }

    /* end of navigation */
    /* General Styles */
    .p-heading {
        width: 55%;
    }

    /* end of general styles */
    /* Customers */
    .slider-1 .slider-container {
        margin-right: 3rem;
        margin-left: 3rem;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    /* end of customers */
    /* Services */
    .cards-1 .card {
        max-width: 21rem;
    }

    .cards-1 .col-lg-12 div.card:nth-child(3n+2) {
        margin-right: 2.875rem;
        margin-left: 2.875rem;
    }

    /* end of services */
    /* Details 1 */
    .basic-1 .text-container {
        margin-top: 6.125rem;
        margin-right: 4rem;
        margin-left: 1rem;
    }

    /* end of details 1 */
    /* Details 2 */
    .basic-2 .text-container {
        margin-top: 5.375rem;
        margin-right: 1rem;
        margin-left: 4rem;
    }

    /* end of details 2 */
    /* Pricing */
    .cards-2 .card {
        width: 19.5rem;
        margin-right: 1.625rem;
        margin-left: 1.625rem;
    }

    /* end of pricing */
    /* Request */
    .form-1 .text-container {
        margin-right: 1.5rem;
        margin-left: 6rem;
    }

    .form-1 form {
        margin-right: 6rem;
        margin-left: 1.5rem;
    }

    /* end of request */
    /* Footer */
    .footer .footer-col {
        width: 90%;
    }

    /* end of footer */
}

/* end of min-width width 1200px */

/* Media Query For different screens */
@media (min-width: 1400px) {
    /* hi-res laptops and desktops */

}

@media (max-width: 1280px) {
    /* big landscape tablets, laptops, and desktops */

}

@media (max-width: 1279px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 768px) {
    /* General Styles */
    #Class {
        /*padding: 80px;*/
    }

    .p-heading {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }

    /* end of general styles */
    /* Header */
    .header .header-content {
        /*padding-top: 10.5rem;*/
        top: 50%;
    }

    .header h1 {
        line-height: 3.5rem;
    }

    /* end of header */
    .sejam.mr-5 {
        /*margin-right: 170px;*/
        right: -30px;
    }

    .icon-hover:hover .guide-icon {
        display: block !important;
    }

    /*footer*/
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        /*padding: 40px 15px;*/
        position: relative;
    }

    .footer-wave-svg {
        height: 50px;
    }

    .footer-content-column {
        width: 24.99%;
    }

    /*end footer*/
}

@media (max-width: 992px) {
    .image-container {
        width: 0;
    }

    .Card {
        padding: 18px !important;
    }

    .Container .Card h3 {
        font-size: 20px;
    }

    .guide-left {
        /*overflow: visible;*/
    }

    .box_saham {
        padding: 100px 25px 45px 25px;
    }

    .btn_saham {
        margin-left: -80px;
        width: 161px;
    }

    .btn_saham a {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .header .header-content {
        top: 47%;
    }

    #services {
        height: auto;
        min-height: auto;
    }
    #services .wrapper-services .container {
        min-width: 100%;
    }

    .Container .Card {
        height: 300px;
        width: 300px;
    }

    .Container .Card h3 {
        font-size: 25px;
    }

    .scroll-slider::-webkit-scrollbar {
        display: none;
    }
    .scroll-slider {
        padding: 7px;
        scrollbar-width: thin;
        scrollbar-color: #cdcdcd transparent;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .sejam.mr-5 {
        margin-right: 50px;
    }

    .contact-left h3 {
        font-size: 30px;
    }

    #registrationGuide h5 {
        font-size: 17px;
    }

    .guide-left {
        width: auto;
    }

    .wrapper-services {
        position: initial;
        margin-top: auto;
    }

    .footer-content {
        margin-left: auto;
        margin-right: auto;
        padding: 40px 15px;
        position: relative;
    }
}

@media (max-width: 599px) {
    /* smartphones, Android phones, landscape iPhone */
    #details-lightbox-1 h3 {
        font-size: 20px;
    }

    .header {
        background-image: url("../images/Background New - Phone.jpg");
    }

    .header .header-content {
        top: 40%;
    }

    .header h1 {
        font-size: 33px;
    }

    .guide-right, .contact-right {
        display: none !important;
    }

    .guide-left {
        width: 100%;
        float: none;
        text-align: right;
        margin-top: auto;
        position: initial;
    }

    .guide-left h3 {
        display: block;
    }

    #registrationGuide {
        height: auto;
    }

    #registrationGuide h5 {
        left: 0;
        margin-left: 0;
        font-size: 15px;
        right: 0;
        top: 90%
    }

    #registrationGuide h5.one {
        margin-top: 30px;
    }

    #registrationGuide + h5.tow {
        /*display: block;*/
        font-size: 16px;
    }

    #registrationGuide > P {
        display: none;
    }

    #contact {
        height: 350px;
        min-height: auto;
    }

    .contact-left {
        width: 100% !important;
        margin-top: 30px;
        padding-right: 30px;
        top: auto;

    }

    .wrapper-social-contact {
        top: 87%;
    }

    .social-contact {
        width: 230px;
    }

    .social-contact div {
        display: inline-block;
    }
}

@media (max-width: 479px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .nav-item {
        background: none;
    }

    .header .header-content {
        top: 53%;
    }

    .header h1 {
        font-size: 22px;
        word-spacing: -3px;
    }

    .container > p.my-3.text-center {
        display: none;
    }

    .container > p.last {
        font-size: 14px;
        margin-top: 10px;
        text-shadow: 0 0 4px #1f1f1f;
    }

    .glow-on-hover {
        width: 200px;
        font-size: 15px;
    }

    .information-contact {
        position: absolute;
        left: 50%;
        margin-left: -145px;
        margin-right: 0;
    }
}

@media (max-width: 400px) {

    .header h1 {
        font-size: 20px;
    }

    .header .header-content {
        top: 45%;
    }

    .btn-register {
        width: 175px;
        height: 50px;
    }

    #registrationGuide {
        height: auto;
        min-height: auto;
    }

    #registrationGuide h5.one {
        display: none;
    }

    .guide-left h3 {
        font-size: 22px;
        word-spacing: -5px;
        margin-right: 15px;
    }

    .sejam {
        margin-bottom: 40px;
    }

    .step-sejam h4 {
        font-size: 18px;
        word-spacing: -4px;
    }

    .step-sejam p {
        font-size: 12px;
    }

    .social-contact {
        top: 260px;
    }

    .contact-left h3 {
        font-size: 26px;
    }

    .contact-left h5 {
        font-size: 14px;
    }
}

/*end my style*/
